<p>
  <label><%= l(:label_startpage_active) %> </label>
  <%= check_box_tag 'settings[startpage_active]', 1, @settings['startpage_active'] %>
</p>
<p>
  <label><%= l(:label_startpage_controller) %></label>
  <%= text_field_tag 'settings[startpage_controller]', @settings['startpage_controller'] %>
</p>
<p>
  <label><%= l(:label_startpage_action) %></label>
  <%= text_field_tag 'settings[startpage_action]', @settings['startpage_action'] %>
</p>
<p>
  <label><%= l(:label_startpage_id) %></label>
  <%= text_field_tag 'settings[startpage_id]', @settings['startpage_id'] %>
</p>
<p>
  <label><%= l(:label_startpage_argname) %></label>
  <%= text_field_tag 'settings[startpage_argname]', @settings['startpage_argname'] %>
</p>
<p>
  <label><%= l(:label_startpage_argvalue) %></label>
  <%= text_field_tag 'settings[startpage_argvalue]', @settings['startpage_argvalue'] %>
</p>

<%= l(:label_setting_examples) %><%= link_to l(:label_example_url), l(:label_example_url), :target => "_blank" %>

